/* Loading screen */
#black-div {
	background-color: rgba(0, 0, 0, 1);
	color:white;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	user-select: none;
	
	display: none;
	justify-content: center;
	align-items: center;
}

.loading-wrapper, .confirmation-wrapper {
	background-color: rgba(100, 100, 100, 0.5);
}

.loading-wrapper {
	padding-top: 5px;
}

.confirmation-wrapper {
	cursor: pointer;
	display: none;
}

.confirmation-wrapper:hover {
	color: rgb(100, 100, 100);
}

.loading-text, .confirmation-text, .confirmation-subtitle-text {
	font-size: 200%;
	font-weight: 600;
	letter-spacing: 10px;
	width: 100vw;
	text-align: center;
}

.loading-text {
	padding-bottom: 40px;
}

.confirmation-text {
	width: 60vw;
	margin: 0 auto;
	margin-top: 80px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding-bottom: 20px;
}

.confirmation-subtitle-text {	
	font-size: 100%;
	letter-spacing: 5px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 60px;
}

.hourglass{
    display:block;
    background: grey;
    margin:3em auto;
    width:2em;
    height:4em;
    box-shadow:
        inset grey 0 0 0 0,
        inset white 0 2em 0 0,
        inset grey 0 0 4em 0;
    animation:hourglass 1s linear infinite;
	z-index: 2;
}

.outer{
    fill:white;
}

.middle{
    fill:grey;
}

@keyframes hourglass{
    0%{
        transform:rotate(0deg);
        box-shadow:
            inset grey 0 0 0 0,
            inset white 0 2em 0 0,
            inset grey 0 4em 0 0,
            inset white 0 4em 0 0;
    }
    80%{
        transform:rotate(0deg);
        box-shadow:
            inset grey 0 2em 0 0,
            inset white 0 2em 0 0,
            inset grey 0 2em 0 0,
            inset white 0 4em 0 0;
    }
    100%{
        transform:rotate(180deg);
        box-shadow:
            inset grey 0 2em 0 0,
            inset white 0 2em 0 0,
            inset grey 0 2em 0 0,
            inset white 0 4em 0 0;
    }
}