@CHARSET "ISO-8859-1";

#loginBody {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 0;
}

#login-bg {
	position: relative;
	display: block;
	background-image: url('../images/login-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 110vw;
	height: 110vh;
	top: -5vh;
	left: -5vw;
	z-index: 0;
	-webkit-filter: brightness(75%) blur(10px);
}

#login-div {
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	top: -110vh;
	z-index: 1;
	width: 400px;
	height: 100vh;
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
	overflow: hidden;
	
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
}

.middle-table {
	position: relative;
	width: 100%;
	left: -20px;
	border-spacing: 20px;
	text-align: center;
}

.middle-table thead td {
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(0, 100, 255, 0.4);
}

.middle-table tfoot {
	font-size: 75%;
}

#register-button {
	color: rgb(0, 50, 230);
	cursor: pointer;
}

#register-button:hover {
	color: rgb(0, 100, 200);
}

.middle-table tbody tr td input[type=text],
.middle-table tbody tr td input[type=password],
.middle-table tbody tr td input[type=email] {
	font-size: 120%;
	width: 390px;
	padding-left: 5px;
	padding-right: 5px;
}

.middle-table tbody tr td input[type=submit] {
	font-size: 120%;
	width: 405px;
	font-weight: 600;
	padding: 5px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	outline: none;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(100,100,157)), color-stop(0.79, rgb(150,150,255)));
}

.middle-table tbody tr td input[type=submit]:hover {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(80,80,137)), color-stop(0.79, rgb(130,130,235)));
}

.table-header {
	color: rgb(40,40,157);
	font-size: 180%;
	letter-spacing: 2px;
	font-weight: 600;
}

.error-text {
	font-size: 90%;
	color: red;
}

#login-table {
}

#register-table {
	display: none;
}

#loading-div {
	background-color: rgba(0, 0, 0, 0.9);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1;
	top: 0;
}

#loginFoot {
	background-color: rgb(20, 20, 20);
	height: 35px;
	z-index: 2;
}

.nav-button {
	color: white;
	border: none;
	outline: none;
	background: none;
	width: 150px;
	margin-top: 10px;
	font-weight: 600;
	display: inline-block;
	cursor: pointer;
}

.nav-button:hover {
	color: rgb(200, 200, 200);
}

.nav-button:active {
	color: gray;
}