<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/schoolsystem</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.mcit.kritth.spring.model.data.Employee" />
        <mapping class="com.mcit.kritth.spring.model.data.Person" />
        <mapping class="com.mcit.kritth.spring.model.data.DepartmentCode" />
        <mapping class="com.mcit.kritth.spring.model.data.Department" /> 
        <mapping class="com.mcit.kritth.spring.model.data.Course" />
        <mapping class="com.mcit.kritth.spring.model.data.CourseMark" />
        <mapping class="com.mcit.kritth.spring.model.data.CourseWork" />
        <mapping class="com.mcit.kritth.spring.model.data.StudentAdmissionStatus" />
        <mapping class="com.mcit.kritth.spring.model.data.StudentGrade" />
        <mapping class="com.mcit.kritth.spring.model.data.Student" />
        <mapping class="com.mcit.kritth.spring.model.data.User" />
        <mapping class="com.mcit.kritth.spring.model.messenger.Message" />
        <mapping class="com.mcit.kritth.spring.model.messenger.SystemGroup" />
        <mapping class="com.mcit.kritth.spring.model.messenger.Announcement" />
        <mapping class="com.mcit.kritth.spring.model.messenger.Personal" />
    </session-factory>
</hibernate-configuration>
